<%# Single Movie Template %>

<% include head %>

</head>

<body>

	<% include navbar %>

	<div class="container">

		<div class="detail-block">

           <div>
            <img src="<%= imageBaseUrl +  parsedData.poster_path %>" />
           </div>
 
          
            <div>

                <h1 class="single-movie-title">
                    <%= parsedData.title %>
                </h1>
                    
                <h2 class="single-movie-sub-title">
                    <%= parsedData.tagline %>
                </h2>

                <p class="single-movie-overview"><span class="overview-header">Movie Synopsis: </span>
					<%= parsedData.overview %>
				</p>

                   <!-- Button trigger modal -->

                <button type="button" class="btn btn-primary btn-lg"
                 data-toggle="modal" data-target="#myModal">
                    More Details
                </button>

            </div>
              				
        </div>

    </div>

    <!-- Modal -->

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">

        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                <h4 class="modal-title" id="myModalLabel">Movie Information</h4>

            </div>
      
      <div class="modal-body">

        <p>
            <a href="https://www.imdb.com/title/<%= parsedData.imdb_id %>"
             target="_blank">
                IMDB link
            </a>
        </p>

        <p>
            <strong>Budget: </strong> $<%= parsedData.budget %>
        </p>

        <p>
            <strong>Revenue: </strong> $<%= parsedData.revenue %>
        </p>

        <p>
            <strong>Release Date: </strong> <%= parsedData.release_date  %>
        </p>

        <p><strong>Production Companies:</strong></p>

        <ul>
            <% parsedData.production_companies.forEach( (company) => { %>
                <li><%= company.name %></li>
            <% }) %>
        </ul>

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>

    </div>

  </div>

</div>

</body>

</html>
